*,*:before,*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}

p{
    margin: 0 0 5px;
}

.container{
    width: 1635;
    height: 960;
    margin: 0 auto;
    padding: 0 auto;
}
.side__bar{
    width: 285px;
    flex-shrink: 0;
    color: #fff;
    border-right: 1px solid rgba(20, 19, 19, 0.10);
    background: #141313;
}
.side__bar-content{
    padding: 96px ;
    width: 189px;
    height: 875px;
}
.name{
    width: 57px;
    height: 39px;
    margin-bottom: 100px;
    margin-left: 0px;
}

.nav__link{
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 30px;
    
}
.nav__link.home,.nav__link.about,.nav__link.Services,.nav__link.Works,
.nav__link.Blogs,.nav__link.Contact{
    margin: 100px 0 ;
    text-decoration: line-through ;
}
.nav__link:hover{
    color: red;
}
.nav__icons{
    width: 40px;
    height: 144px;
    align-items: center;
    margin: 200px 0 -50px;
}

.copyright{
    width: 189px;
    height: 44px;
    font-style: 16px;
    margin-top: 90px ;
    color: #fff;
    letter-spacing: .15em;
}
/* end side-bar */

.wrapper{
    display: flex;
}

.reachoutme{
    display: flex;
    padding: 200px 250px;
    
}

.text{
    margin-right: 50px;
    /* border: 1px solid black; */
    width: 430px;
    height: 472px;
    /* padding: 100px; */
}
.title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 10px 0;
    margin-bottom: 20px;
}

.text h6{
    color: #141313;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.48px;
}
.text p{
    padding-top: 50px;
    color: #141313;
    font-family: IBM Plex Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 125% */
}
.socials ul li{
    display: inline-block;
    
    margin: 80px 40px 80px 0;
}
.form-info{
    width: 575px;
    height: 500px;
    /* border: 1px solid black; */
    background: linear-gradient(273deg, #FFB147 0%, #FF6C63 52.03%, #B86ADF 100%);
}
.content{
    padding: 65px 85px;

}
.content h1{
    color: #fff;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 0 50px;
    position: relative;
    
}
input{
    background: linear-gradient(273deg, #FFB147 10%, #FF6C63 52.03%);


    
}
.message{
    margin: 70px 0;
}

textarea{
    color: #fff;
    position: absolute;
    width: 417px;
    height: 109px;
    bottom: 0;
    background: linear-gradient(273deg, #FFB147 0%, #FF6C63 52.03%, #B86ADF 100%);

    /* background: linear-gradient(273deg, #FFB147 0%, #FF6C63 52.03%, #B86ADF 100%); */


}

button{
    padding: 9px 20px;
    margin: 50px 0 0 0;
    font-size: 9px;
    color: #fff;
    background-color: #141313;
}

button img{
    margin-left:5px;
    width: 8px;
    height: 8px;
}

/* form label{
    display: flex;
    width: 280px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
} */
